{% extends "base.html" %}

{% block title %}
  REGISTER
{% endblock title %}


{% block content %}
<div class="card section" style="margin-top:2em !important; width: 100%;">
  <div class="container">
    <h3 style="font-weight: 900 !important; text-align: center; font-size: 25px; margin-bottom:2em;">Register</h3>
  <form method='POST'> {% csrf_token %}
    {{ form }}
    <button type='submit' class='btn btn-default' style="margin-bottom:2em; width:100%; margin-top:2em !important;">Submit</button>
  </form>
  <hr >
  <p><a href="{% url 'login' %}"><em>Already have an account?</em></a></p>
  </div>
</div>
{% endblock %}